<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Lemon Interactive - Films</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="assets/css/home.css">
    <title>Lemon Interactive - Connexion</title>
</head>
<body>
    <!-- Include 'base.html' en utilisant une URL relative -->
    <?php include 'views/base.html'; ?>
    <div class="container" style="padding-top: 80px;">
        <h1>Connexion</h1>

        <form method="post" action="login-submit"> <!-- Assurez-vous d'ajuster l'attribut 'action' en conséquence -->
            <div class="form-group">
                <label for="email">Adresse e-mail</label>
                <input type="email" id="email" name="_email" class="form-control" autofocus>
            </div>
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="_password" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Se connecter</button>
        </form>
    </div>
</body>
</html>
